XML/objects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="objects">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Version" type="xs:int" default="0"/>
                <xs:element name="cameras">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="camera">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="settings">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="sourceindex" type="xs:int" />
                                                    <xs:element name="codec" type="xs:string" />
                                                    <xs:element name="videosourcestring" type="xs:string" />
                                                    <xs:element name="onvifident" type="xs:string" />
                                                    <xs:element name="login">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:whiteSpace value="preserve"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="password">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:whiteSpace value="preserve"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="useragent" type="xs:string" />
                                                    <xs:element name="suppressnoise" type="xs:boolean" />
                                                    <xs:element name="audioport" type="xs:int"/>
                                                    <xs:element name="audiomodel" type="xs:string"/>
                                                    <xs:element name="audioip" type="xs:string"/>
                                                    <xs:element name="audiousername">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:whiteSpace value="preserve"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="audiopassword">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:whiteSpace value="preserve"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="usehttp10" type="xs:boolean" />
                                                    <xs:element name="active" type="xs:boolean" />
                                                    <xs:element name="notifyondisconnect" type="xs:boolean" />
                                                    <xs:element name="emailondisconnect" type="xs:string"/>
                                                    <xs:element name="frameinterval" type="xs:int" default="0"/>
                                                    <xs:element name="framerate" type="xs:int"/>
                                                    <xs:element name="smsnumber" type="xs:string"/>
                                                    <xs:element name="emailaddress" type="xs:string"/>
                                                    <xs:element name="ffmpeg" type="xs:string"/>
                                                    <xs:element name="deleteavi" type="xs:boolean"/>
                                                    <xs:element name="micpair" type="xs:int"/>
                                                    <xs:element name="maskimage" type="xs:string"/>
                                                    <xs:element name="timestampformatter" type="xs:string"/>
                                                    <xs:element name="timestamplocation" type="xs:int"/>
                                                    <xs:element name="timestampfontsize" type="xs:int" default="10"/>
                                                    <xs:element name="timestampoffset" type="xs:decimal" default="0"/>
                                                    <xs:element name="timestampforecolor" type="xs:string" default=""/>
                                                    <xs:element name="timestampbackcolor" type="xs:string" default=""/>
                                                    <xs:element name="timestampfont" type="xs:string" default=""/>
                                                    <xs:element name="timestampshowback" type="xs:boolean" default="true"/>
                                                    <xs:element name="tagsnv" type="xs:string"/>
                                                    <xs:element name="desktoparea" type="xs:string"/>
                                                    <xs:element name="vlcargs" type="xs:string"/>
                                                    <xs:element name="prefer_tcp" type="xs:boolean" default="true"/>
                                                    <xs:element name="ptzusername">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:whiteSpace value="preserve"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ptzpassword">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:whiteSpace value="preserve"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ptzflipx" type="xs:boolean" default="false"/>
                                                    <xs:element name="ptzflipy" type="xs:boolean" default="false"/>
                                                    <xs:element name="ptzrotate90" type="xs:boolean" default="false"/>
                                                    <xs:element name="ptzurlbase" type="xs:string"/>
                                                    <xs:element name="ptzport" type="xs:int" default="80"/>
                                                    <xs:element name="ptzautotrack" type="xs:boolean" default="false"/>
                                                    <xs:element name="ptzautotrackreverse" type="xs:boolean" default="false"/>
                                                    <xs:element name="ptzautohome" type="xs:boolean" default="false"/>
                                                    <xs:element name="ptzchannel" type="xs:string" default="0"/>
                                                    <xs:element name="ptzautohomecommand" type="xs:string" default=""/>
                                                    <xs:element name="ptzautohomedelay" type="xs:int" default="30"/>
                                                    <xs:element name="ptztimetohome" type="xs:int" default="60"/>
                                                    <xs:element name="ptzautotrackmode" type="xs:int" default="0"/>
                                                    <xs:element name="ptzpelcoconfig" type="xs:string" default=""/>
                                                    <xs:element name="maxframerate" type="xs:decimal" default="10"/>
                                                    <xs:element name="maxframeraterecord" type="xs:decimal" default="10"/>
                                                    <xs:element name="reconnectinterval" type="xs:int" default="0"/>
                                                    <xs:element name="namevaluesettings" type="xs:string" default=""/>
                                                    <xs:element name="accessgroups" type="xs:string" default=""/>
                                                    <xs:element name="forcebasic" type="xs:boolean" default="true"/>
                                                    <xs:element name="crossbarindex" type="xs:int" default="0"/>
                                                    <xs:element name="cookies" type="xs:string" default=""/>
                                                    <xs:element name="bordertimeout" type="xs:int" default="0"/>
                                                    <xs:element name="headers" type="xs:string" default=""/>
                                                    <xs:element name="analyseduration" type="xs:int" default="2000"/>
                                                    <xs:element name="timeout" type="xs:int" default="8000"/>
                                                    <xs:element name="nobuffer" type="xs:boolean" default="false"/>
                                                    <xs:element name="rtspmode" type="xs:int" default="1"/>
                                                    <xs:element name="procAmpConfig" type="xs:string" default=""/>
                                                    <xs:element name="messaging" type="xs:boolean" default="true"/>
                                                    <xs:element name="directoryIndex" type="xs:int" default="0"/>
                                                    <xs:element name="fillMode" type="xs:int" default="0"/>
                                                    <xs:element name="order" type="xs:int" default="-1"/>
                                                    <xs:element name="youtube">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="public" type="xs:boolean" default="false" />
                                                                <xs:element name="tags" type="xs:string" />
                                                                <xs:element name="category" type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="cloudprovider">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="provider" type="xs:string" default="Google Drive"/>
                                                          <xs:element name="recordings" type="xs:boolean" default="false"/>
                                                          <xs:element name="images" type="xs:boolean" default="false"/>
                                                          <xs:element name="path" type="xs:string" default="[MEDIATYPE]/[NAME]/" />
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                  <xs:element name="tokenconfig">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="tokenpath" type="xs:string" default=""/>
                                                        <xs:element name="tokenpost" type="xs:string" default=""/>
                                                        <xs:element name="tokenport" type="xs:int" default="80"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="storagemanagement">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element name="enabled" type="xs:boolean" default="false"/>
                                                            <xs:element name="maxsize" type="xs:int" />
                                                            <xs:element name="maxage" type="xs:int" />
                                                            <xs:element name="archive" type="xs:boolean" default="false" />
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="pip">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="enabled" type="xs:boolean" default="false"/>
                                                          <xs:element name="config" type="xs:string" />
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="onvif">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="rtspport" type="xs:int" default="0" />
                                                          <xs:element name="timeout" type="xs:int" default="15" />
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="desktopresizewidth" type="xs:int" use="required"/>
                                                <xs:attribute name="desktopresizeheight" type="xs:int" use="required"/>
                                                <xs:attribute name="resize" type="xs:boolean" use="required"/>
                                                <xs:attribute name="desktopmouse" type="xs:boolean" use="required"/>
                                                <xs:attribute name="calibrateonreconnect" type="xs:boolean" default="true"/>
                                                <xs:attribute name="ignoreaudio" type="xs:boolean" default="false"/>
                                                <xs:attribute name="FishEyeCorrect" type="xs:boolean" default="false"/>
                                                <xs:attribute name="FishEyeLimit" type="xs:int" default="1500"/>
                                                <xs:attribute name="FishEyeScale" type="xs:double" default="0.9"/>
                                                <xs:attribute name="FishEyeFocalLengthPX" type="xs:int" default="700"/>
                                                <xs:attribute name="uniqueID" type="xs:string" default=""/>
                                                <xs:attribute name="resizeWidth" type="xs:int" default="-1"/>
                                                <xs:attribute name="resizeHeight" type="xs:int" default="-1"/>
                                                <xs:attribute name="vlcWidth" type="xs:int" default="-1"/>
                                                <xs:attribute name="vlcHeight" type="xs:int" default="-1"/>
                                                <xs:attribute name="useGPU" type="xs:boolean" default="false"/>
                                                <xs:attribute name="encoder" type="xs:string" default="software"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ftp">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="enabled" type="xs:boolean" />
                                                    <!--deprecated-->
                                                    <xs:element name="server" type="xs:string" />
                                                    <xs:element name="username">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:whiteSpace value="preserve"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="password">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:whiteSpace value="preserve"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="port" type="xs:int" />
                                                    <xs:element name="usepassive" type="xs:boolean"/>
                                                    <xs:element name="rename" type="xs:boolean" />
                                                    <!--enddeprecated-->
                                                    <xs:element name="ready" type="xs:boolean"/>
                                                    <xs:element name="ident" type="xs:string" />
                                                    <xs:element name="filename" type="xs:string" default="mylivecamerafeed.jpg" />
                                                    <xs:element name="interval" type="xs:int" />
                                                    <xs:element name="intervalnew" type="xs:double" default="-1" />
                                                    <xs:element name="counter" type="xs:int" />
                                                    <xs:element name="countermax" type="xs:int" />
                                                    <xs:element name="ftpcounter" type="xs:int" />
                                                    <xs:element name="minimumdelay" type="xs:double" default="0" />
                                                    <xs:element name="mode" type="xs:int" default="2"/>
                                                    <xs:element name="text" type="xs:string" default="www.ispyconnect.com"/>
                                                    <xs:element name="savelocal" type="xs:boolean" default="false"/>
                                                    <xs:element name="quality" type="xs:int" />                                                    
                                                    <xs:element name="localfilename" type="xs:string" default="{0:yyyy-MM-dd_HH-mm-ss_fff}.jpg"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                      <xs:element name="savelocal">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="enabled" type="xs:boolean" />
                                            <xs:element name="filename" type="xs:string" default="{0:yyyy-MM-dd_HH-mm-ss_fff}.jpg" />
                                            <xs:element name="intervalnew" type="xs:double" default="-1" />
                                            <xs:element name="counter" type="xs:int" />
                                            <xs:element name="countermax" type="xs:int" />
                                            <xs:element name="minimumdelay" type="xs:double" default="0" />
                                            <xs:element name="mode" type="xs:int" default="2"/>
                                            <xs:element name="text" type="xs:string" default="www.ispyconnect.com"/>
                                            <xs:element name="quality" type="xs:int" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                        <xs:element name="detector">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="motionzones">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="zone">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="left" type="xs:int" use="required" />
                                                                        <xs:attribute name="top" type="xs:int" use="required" />
                                                                        <xs:attribute name="width" type="xs:int" use="required" />
                                                                        <xs:attribute name="height" type="xs:int" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="type" type="xs:string" use="required" />
                                                <xs:attribute name="postprocessor" type="xs:string" use="required" />
                                                <xs:attribute name="nomovementinterval" type="xs:int" use="required" />
                                                <xs:attribute name="movementinterval" type="xs:int" use="required" />
                                                <xs:attribute name="nomovementintervalnew" type="xs:double" default="-1" />
                                                <xs:attribute name="movementintervalnew" type="xs:double" default="-1" />
                                                <xs:attribute name="calibrationdelay" type="xs:int" use="required" />
                                                <xs:attribute name="sensitivity" type="xs:double" use="required" />
                                                <xs:attribute name="maxsensitivity" type="xs:double" default="100"/>
                                                <xs:attribute name="minsensitivity" type="xs:double" default="20"/>
                                                <xs:attribute name="color" type="xs:string" use="required" />
                                                <xs:attribute name="keepobjectedges" type="xs:boolean" use="required" />
                                                <xs:attribute name="recordondetect" type="xs:boolean" use="required" />
                                                <xs:attribute name="recordonalert" type="xs:boolean" use="required" />
                                                <xs:attribute name="processframeinterval" type="xs:int" default="200" />
                                                <xs:attribute name="minwidth" type="xs:int" default="20"/>
                                                <xs:attribute name="minheight" type="xs:int" default="20"/>
                                                <xs:attribute name="highlight" type="xs:boolean" default="false"/>
                                                <xs:attribute name="colourprocessing" type="xs:string" default=""/>
                                                <xs:attribute name="colourprocessingenabled" type="xs:boolean" default="false"/>
                                                <xs:attribute name="autooff" type="xs:int" default="0"/>
                                                <xs:attribute name="gain" type="xs:float" default="10"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="recorder">
                                            <xs:complexType>
                                                <xs:attribute name="bufferseconds" type="xs:int" use="required"/>
                                                <xs:attribute name="inactiverecord" type="xs:int" use="required" />
                                                <xs:attribute name="minrecordtime" type="xs:int" default="0" />
                                                <xs:attribute name="maxrecordtime" type="xs:int" use="required" />
                                                <xs:attribute name="timelapse" type="xs:int" use="required" />
                                                <xs:attribute name="timelapseframes" type="xs:int" use="required" />
                                                <xs:attribute name="timelapseenabled" type="xs:boolean" default="false" />
                                                <xs:attribute name="quality" type="xs:int" default="8" />
                                                <xs:attribute name="timelapsesave" type="xs:int" default="60" />
                                                <xs:attribute name="timelapseframerate" type="xs:int" default="5" />
                                                <xs:attribute name="profile" type="xs:int" default="0" />
                                                <xs:attribute name="crf" type="xs:boolean" default="true" />
                                                <xs:attribute name="trigger" type="xs:string" default=""/>
                                                <xs:attribute name="ftpenabled" type="xs:boolean" default="false" />
                                                <xs:attribute name="ftpfilename" type="xs:string" default="" />
                                                <xs:attribute name="ftpcounter" type="xs:int" default="0"/>
                                                <xs:attribute name="ftpcountermax" type="xs:int" default="20" />
                                                <xs:attribute name="bitrate" type="xs:int" default="0"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="alerts">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="alertoptions" type="xs:string" />
                                                    <xs:element name="executefile" type="xs:string" />
                                                    <xs:element name="arguments" type="xs:string" />
                                                </xs:sequence>
                                                <xs:attribute name="minimuminterval" type="xs:int" use="required" />
                                                <xs:attribute name="resetinterval" type="xs:int" default="0" />
                                                <xs:attribute name="groupname" type="xs:string" default="" />
                                                <xs:attribute name="objectcountalert" type="xs:int" use="required" />
                                                <xs:attribute name="active" type="xs:boolean" use="required" />
                                                <xs:attribute name="mode" type="xs:string" use="required" />
                                                <xs:attribute name="overlay" type="xs:boolean" default="true"/>
                                                <xs:attribute name="pluginconfig" type="xs:string" default=""/>
                                                <xs:attribute name="processmode" type="xs:string" default="continuous"/>
                                                <xs:attribute name="maximise" type="xs:boolean" default="false"/>
                                                <xs:attribute name="trigger" type="xs:string" default=""/>
                                                <xs:attribute name="playsound" type="xs:string" default=""/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="notifications">
                                            <xs:complexType>
                                                <xs:attribute name="emailgrabinterval" type="xs:int" use="required" />
                                                <xs:attribute name="sendemail" type="xs:boolean" use="required" />
                                                <xs:attribute name="sendsms" type="xs:boolean" use="required" />
                                                <xs:attribute name="sendmms" type="xs:boolean" use="required" />
                                                <xs:attribute name="sendtwitter" type="xs:boolean" default="false" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                      <xs:element name="alertevents">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="entries">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="entry">
                                                    <xs:complexType>
                                                      <xs:attribute name="type" type="xs:string" use="required" />
                                                      <xs:attribute name="param1" type="xs:string" default="" />
                                                      <xs:attribute name="param2" type="xs:string" default="" />
                                                      <xs:attribute name="param3" type="xs:string" default="" />
                                                      <xs:attribute name="param4" type="xs:string" default="" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                        <xs:element name="schedule">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="entries">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="entry">
                                                        <xs:complexType>
                                                            <xs:attribute name="start" type="xs:string" use="required" />
                                                            <xs:attribute name="stop" type="xs:string" use="required" />
                                                            <xs:attribute name="daysofweek" type="xs:string" use="required" />
                                                            <xs:attribute name="recordonstart" type="xs:boolean" default="true" />
                                                            <xs:attribute name="active" type="xs:boolean" default="true" />
                                                            <xs:attribute name="recordondetect" type="xs:boolean" default="true" />
                                                            <xs:attribute name="recordonalert" type="xs:boolean" default="true" />
                                                            <xs:attribute name="timelapseenabled" type="xs:boolean" default="true" />
                                                            <xs:attribute name="ptz" type="xs:boolean" default="true" />
                                                            <xs:attribute name="ftpenabled" type="xs:boolean" default="false" />
                                                            <xs:attribute name="savelocalenabled" type="xs:boolean" default="false" />
                                                            <xs:attribute name="alerts" type="xs:boolean" default="true" />
                                                            <xs:attribute name="messaging" type="xs:boolean" default="true" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="active" type="xs:boolean" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ptzschedule">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="entries">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="entry">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="command" type="xs:string" use="required" />
                                                                        <xs:attribute name="time" type="xs:dateTime" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="active" type="xs:boolean" use="required" />
                                                <xs:attribute name="suspend" type="xs:boolean" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="description" use="required"/>
                                    <xs:attribute name="directory" use="required"/>
                                    <xs:attribute name="flipx" type="xs:boolean" use="required" />
                                    <xs:attribute name="flipy" type="xs:boolean" use="required" />
                                    <xs:attribute name="rotate90" type="xs:boolean" default="false" />
                                    <xs:attribute name="rotateMode" type="xs:string" default=""/>
                                    <xs:attribute name="x" type="xs:int" use="required" />
                                    <xs:attribute name="y" type="xs:int" use="required" />
                                    <xs:attribute name="width" type="xs:int" use="required" />
                                    <xs:attribute name="height" type="xs:int" use="required" />
                                    <xs:attribute name="resolution" type="xs:string" use="required" />
                                    <xs:attribute name="decodekey" type="xs:string" use="optional" />
                                    <xs:attribute name="ptz" type="xs:int" use="required" />
                                    <xs:attribute name="ptzentryindex" type="xs:int" default="0" />
                                    <xs:attribute name="newrecordingcount" type="xs:int" default="0"/>
                                    <xs:attribute name="surfaceID" type="xs:int" default="0"/>
                                    <xs:attribute name="deleted" type="xs:boolean" default="false" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="microphones">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="microphone">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="settings">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="sourceindex" type="xs:int" />
                                                    <xs:element name="buffer" type="xs:int" />
                                                    <xs:element name="samples" type="xs:int" />
                                                    <xs:element name="bits" type="xs:int" />
                                                    <xs:element name="channels" type="xs:int" />
                                                    <xs:element name="needsupdate" type="xs:boolean" />
                                                    <xs:element name="active" type="xs:boolean" />
                                                    <xs:element name="smsnumber" type="xs:string" />
                                                    <xs:element name="emailaddress" type="xs:string"/>
                                                    <xs:element name="sourcename" type="xs:string" />
                                                    <xs:element name="deviceout" type="xs:string"/>
                                                    <xs:element name="typeindex" type="xs:int" />
                                                    <xs:element name="volume" type="xs:int" default="50" />
                                                    <xs:element name="gain" type="xs:float" default="1" />
                                                    <xs:element name="messaging" type="xs:boolean" default="true"/>
                                                    <xs:element name="order" type="xs:int" default="-1"/>
                                                    <xs:element name="username">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:whiteSpace value="preserve"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="password">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:whiteSpace value="preserve"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ffmpeg" type="xs:string"/>
                                                    <xs:element name="deletewav" type="xs:boolean"/>
                                                    <xs:element name="decompress" type="xs:boolean"/>
                                                    <xs:element name="notifyondisconnect" type="xs:boolean" />
                                                    <xs:element name="emailondisconnect" type="xs:string"/>
                                                    <xs:element name="vlcargs" type="xs:string"/>
                                                    <xs:element name="reconnectinterval" type="xs:int"/>
                                                    <xs:element name="accessgroups" type="xs:string" default=""/>
                                                    <xs:element name="timeout" type="xs:int" default="8000"/>
                                                    <xs:element name="analyzeduration" type="xs:int" default="2000"/>
                                                    <xs:element name="storagemanagement">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="enabled" type="xs:boolean" default="false"/>
                                                          <xs:element name="maxsize" type="xs:int" />
                                                          <xs:element name="maxage" type="xs:int" />
                                                          <xs:element name="archive" type="xs:boolean" default="false" />
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="directoryIndex" type="xs:int" default="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="detector">
                                            <xs:complexType>
                                                <xs:attribute name="sensitivity" type="xs:int" use="required" />
                                                <xs:attribute name="maxsensitivity" type="xs:double" default="100"/>
                                                <xs:attribute name="minsensitivity" type="xs:double" default="-1"/>
                                                <xs:attribute name="nosoundinterval" type="xs:int" use="required" />
                                                <xs:attribute name="soundinterval" type="xs:int" use="required" />
                                                <xs:attribute name="recordondetect" type="xs:boolean" use="required" />
                                                <xs:attribute name="recordonalert" type="xs:boolean" use="required" />
                                                <xs:attribute name="gain" type="xs:float" default="1"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="recorder">
                                            <xs:complexType>
                                                <xs:attribute name="inactiverecord" type="xs:int" use="required" />
                                                <xs:attribute name="minrecordtime" type="xs:int" default="0" />
                                                <xs:attribute name="maxrecordtime" type="xs:int" use="required" />
                                                <xs:attribute name="trigger" type="xs:string" default=""/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="alerts">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="alertoptions" type="xs:string" />
                                                    <xs:element name="executefile" type="xs:string" />
                                                    <xs:element name="arguments" type="xs:string" />
                                                </xs:sequence>
                                                <xs:attribute name="minimuminterval" type="xs:int" use="required" />
                                                <xs:attribute name="resetinterval" type="xs:int" default="0" />
                                                <xs:attribute name="groupname" type="xs:string" default="" />
                                                <xs:attribute name="active" type="xs:boolean" use="required" />
                                                <xs:attribute name="mode" type="xs:string" use="required" />
                                                <xs:attribute name="trigger" type="xs:string" default=""/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="notifications">
                                            <xs:complexType>
                                                <xs:attribute name="sendemail" type="xs:boolean" use="required" />
                                                <xs:attribute name="sendsms" type="xs:boolean" use="required" />
                                                <xs:attribute name="sendtwitter" type="xs:boolean" default="false" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                      <xs:element name="alertevents">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="entries">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="entry">
                                                    <xs:complexType>
                                                      <xs:attribute name="type" type="xs:string" use="required" />
                                                      <xs:attribute name="param1" type="xs:string" default="" />
                                                      <xs:attribute name="param2" type="xs:string" default="" />
                                                      <xs:attribute name="param3" type="xs:string" default="" />
                                                      <xs:attribute name="param4" type="xs:string" default="" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                        <xs:element name="schedule">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="entries">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="entry">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="start" type="xs:string" use="required" />
                                                                        <xs:attribute name="stop" type="xs:string" use="required" />
                                                                        <xs:attribute name="daysofweek" type="xs:string" use="required" />
                                                                        <xs:attribute name="recordonstart" type="xs:boolean" default="true" />
                                                                        <xs:attribute name="active" type="xs:boolean" default="true" />
                                                                        <xs:attribute name="recordondetect" type="xs:boolean" default="true" />
                                                                        <xs:attribute name="recordonalert" type="xs:boolean" default="true" />
                                                                        <xs:attribute name="alerts" type="xs:boolean" default="true" />
                                                                        <xs:attribute name="messaging" type="xs:boolean" default="true" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>

                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="active" type="xs:boolean" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="description" use="required"/>
                                    <xs:attribute name="directory" use="required"/>
                                    <xs:attribute name="x" type="xs:int" use="required" />
                                    <xs:attribute name="y" type="xs:int" use="required" />
                                    <xs:attribute name="width" type="xs:int" use="required" />
                                    <xs:attribute name="height" type="xs:int" use="required" />
                                    <xs:attribute name="newrecordingcount" type="xs:int" default="0"/>
                                    <xs:attribute name="deleted" type="xs:boolean" default="false" />
                                    <xs:attribute name="surfaceID" type="xs:int" default="0"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="floorplans">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="floorplan">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="objects">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="object">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="entry">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="type" type="xs:string" use="required" />
                                                                        <xs:attribute name="id" type="xs:int" use="required" />
                                                                        <xs:attribute name="x" type="xs:int" use="required" />
                                                                        <xs:attribute name="y" type="xs:int" use="required" />
                                                                        <xs:attribute name="angle" type="xs:int" default="0" />
                                                                        <xs:attribute name="radius" type="xs:int" default="0" />
                                                                        <xs:attribute name="fov" type="xs:int" default="0" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="x" type="xs:int" use="required" />
                                    <xs:attribute name="y" type="xs:int" use="required" />
                                    <xs:attribute name="width" type="xs:int" use="required" />
                                    <xs:attribute name="height" type="xs:int" use="required" />
                                    <xs:attribute name="image" type="xs:string" use="required" />
                                    <xs:attribute name="accessgroups" type="xs:string" default="" />
                                    <xs:attribute name="originalsize" type="xs:boolean" default="false" />
                                    <xs:attribute name="fov" type="xs:int" default="90"/>
                                    <xs:attribute name="radius" type="xs:int" default="80"/>
                                    <xs:attribute name="needsupdate" type="xs:boolean" use="required" />
                                    <xs:attribute name="deleted" type="xs:boolean" default="false" />
                                    <xs:attribute name="surfaceID" type="xs:int" default="0"/>
                                    <xs:attribute name="order" type="xs:int" default="-1"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="remotecommands">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="command">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:int" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="command" type="xs:string" use="required" />
                                    <xs:attribute name="emitshortcut" type="xs:string" default=""/>
                                    <xs:attribute name="font" type="xs:string" default=""/>
                                    <xs:attribute name="color" type="xs:string" default=""/>
                                    <xs:attribute name="backcolor" type="xs:string" default=""/>
                                    <xs:attribute name="size" type="xs:string" default=""/>
                                    <xs:attribute name="location" type="xs:string" default=""/>
                                    <xs:attribute name="inwindow" type="xs:boolean" default="false"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
              <xs:element name="schedule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entries">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="entry">
                            <xs:complexType>
                              <xs:attribute name="time" type="xs:int" use="required" />
                              <xs:attribute name="typeid" type="xs:int" use="required" />
                              <xs:attribute name="daysofweek" type="xs:string" use="required" />
                              <xs:attribute name="parameter" type="xs:string" default="" />
                              <xs:attribute name="active" type="xs:boolean" default="true" />
                              <xs:attribute name="objecttypeid" type="xs:int" use="required"/>
                              <xs:attribute name="objectid" type="xs:int" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
                <xs:element name="actions">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="entries">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="entry">
                              <xs:complexType>
                                <xs:attribute name="type" type="xs:string" use="required" />
                                <xs:attribute name="objecttypeid" type="xs:int" use="required"/>
                                <xs:attribute name="objectid" type="xs:int" use="required"/>
                                <xs:attribute name="mode" type="xs:string" use="required"/>
                                <xs:attribute name="param1" type="xs:string" default="" />
                                <xs:attribute name="param2" type="xs:string" default="" />
                                <xs:attribute name="param3" type="xs:string" default="" />
                                <xs:attribute name="param4" type="xs:string" default="" />
                                <xs:attribute name="ident" type="xs:string" default="" />
                                <xs:attribute name="active" type="xs:boolean" default="true" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>