Service References/OnvifServices/remotediscovery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:dn="http://www.onvif.org/ver10/network/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.onvif.org/ver10/network/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:d="http://schemas.xmlsoap.org/ws/2005/04/discovery" elementFormDefault="qualified" targetNamespace="http://www.onvif.org/ver10/network/wsdl">
      <xs:import schemaLocation="http://schemas.xmlsoap.org/ws/2005/04/discovery/ws-discovery.xsd" namespace="http://schemas.xmlsoap.org/ws/2005/04/discovery" />
      <xs:element name="Hello" type="d:HelloType" />
      <xs:element name="HelloResponse" type="d:ResolveType" />
      <xs:element name="Probe" type="d:ProbeType" />
      <xs:element name="ProbeResponse" type="d:ProbeMatchesType" />
      <xs:element name="Bye" type="d:ByeType" />
      <xs:element name="ByeResponse" type="d:ResolveType" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="HelloRequest">
    <wsdl:part name="parameters" element="dn:Hello" />
  </wsdl:message>
  <wsdl:message name="HelloResponse">
    <wsdl:part name="parameters" element="dn:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="ProbeRequest">
    <wsdl:part name="parameters" element="dn:Probe" />
  </wsdl:message>
  <wsdl:message name="ProbeResponse">
    <wsdl:part name="parameters" element="dn:ProbeResponse" />
  </wsdl:message>
  <wsdl:message name="ByeRequest">
    <wsdl:part name="parameters" element="dn:Bye" />
  </wsdl:message>
  <wsdl:message name="ByeResponse">
    <wsdl:part name="parameters" element="dn:ByeResponse" />
  </wsdl:message>
  <wsdl:portType name="RemoteDiscoveryPort">
    <wsdl:operation name="Hello">
      <wsdl:input dn:Action="http://schemas.xmlsoap.org/ws/2005/04/discovery/Hello" message="dn:HelloRequest" />
      <wsdl:output dn:Action="http://schemas.xmlsoap.org/ws/2005/04/discovery/Probe" message="dn:HelloResponse" />
    </wsdl:operation>
    <wsdl:operation name="Bye">
      <wsdl:input dn:Action="http://schemas.xmlsoap.org/ws/2005/04/discovery/Bye" message="dn:ByeRequest" />
      <wsdl:output message="dn:ByeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DiscoveryLookupPort">
    <wsdl:operation name="Probe">
      <wsdl:input dn:Action="http://schemas.xmlsoap.org/ws/2005/04/discovery/Probe" message="dn:ProbeRequest" />
      <wsdl:output dn:Action="http://schemas.xmlsoap.org/ws/2005/04/discovery/ProbeMatches" message="dn:ProbeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemoteDiscoveryBinding" type="dn:RemoteDiscoveryPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://www.onvif.org/ver10/network/wsdl/Hello" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bye">
      <soap:operation soapAction="http://www.onvif.org/ver10/network/wsdl/Bye" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DiscoveryLookupBinding" type="dn:DiscoveryLookupPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Probe">
      <soap:operation soapAction="http://www.onvif.org/ver10/network/wsdl/Probe" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>