Service References/OnvifServices/WS-BaseNotification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" xmlns:wsa="http://www.w3.org/2005/08/addressing" name="WS-BaseNotification" targetNamespace="http://docs.oasis-open.org/wsn/bw-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rw-2" location="http://docs.oasis-open.org/wsrf/rw-2.wsdl" />
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="http://docs.oasis-open.org/wsn/b-2.xsd" namespace="http://docs.oasis-open.org/wsn/b-2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Notify">
    <wsdl:part name="Notify" element="wsnt:Notify" />
  </wsdl:message>
  <wsdl:message name="SubscribeRequest">
    <wsdl:part name="SubscribeRequest" element="wsnt:Subscribe" />
  </wsdl:message>
  <wsdl:message name="SubscribeResponse">
    <wsdl:part name="SubscribeResponse" element="wsnt:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeCreationFailedFault">
    <wsdl:part name="SubscribeCreationFailedFault" element="wsnt:SubscribeCreationFailedFault" />
  </wsdl:message>
  <wsdl:message name="TopicExpressionDialectUnknownFault">
    <wsdl:part name="TopicExpressionDialectUnknownFault" element="wsnt:TopicExpressionDialectUnknownFault" />
  </wsdl:message>
  <wsdl:message name="InvalidFilterFault">
    <wsdl:part name="InvalidFilterFault" element="wsnt:InvalidFilterFault" />
  </wsdl:message>
  <wsdl:message name="InvalidProducerPropertiesExpressionFault">
    <wsdl:part name="InvalidProducerPropertiesExpressionFault" element="wsnt:InvalidProducerPropertiesExpressionFault" />
  </wsdl:message>
  <wsdl:message name="InvalidMessageContentExpressionFault">
    <wsdl:part name="InvalidMessageContentExpressionFault" element="wsnt:InvalidMessageContentExpressionFault" />
  </wsdl:message>
  <wsdl:message name="UnrecognizedPolicyRequestFault">
    <wsdl:part name="UnrecognizedPolicyRequestFault" element="wsnt:UnrecognizedPolicyRequestFault" />
  </wsdl:message>
  <wsdl:message name="UnsupportedPolicyRequestFault">
    <wsdl:part name="UnsupportedPolicyRequestFault" element="wsnt:UnsupportedPolicyRequestFault" />
  </wsdl:message>
  <wsdl:message name="NotifyMessageNotSupportedFault">
    <wsdl:part name="NotifyMessageNotSupportedFault" element="wsnt:NotifyMessageNotSupportedFault" />
  </wsdl:message>
  <wsdl:message name="UnacceptableInitialTerminationTimeFault">
    <wsdl:part name="UnacceptableInitialTerminationTimeFault" element="wsnt:UnacceptableInitialTerminationTimeFault" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMessageRequest">
    <wsdl:part name="GetCurrentMessageRequest" element="wsnt:GetCurrentMessage" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMessageResponse">
    <wsdl:part name="GetCurrentMessageResponse" element="wsnt:GetCurrentMessageResponse" />
  </wsdl:message>
  <wsdl:message name="InvalidTopicExpressionFault">
    <wsdl:part name="InvalidTopicExpressionFault" element="wsnt:InvalidTopicExpressionFault" />
  </wsdl:message>
  <wsdl:message name="TopicNotSupportedFault">
    <wsdl:part name="TopicNotSupportedFault" element="wsnt:TopicNotSupportedFault" />
  </wsdl:message>
  <wsdl:message name="MultipleTopicsSpecifiedFault">
    <wsdl:part name="MultipleTopicsSpecifiedFault" element="wsnt:MultipleTopicsSpecifiedFault" />
  </wsdl:message>
  <wsdl:message name="NoCurrentMessageOnTopicFault">
    <wsdl:part name="NoCurrentMessageOnTopicFault" element="wsnt:NoCurrentMessageOnTopicFault" />
  </wsdl:message>
  <wsdl:message name="GetMessagesRequest">
    <wsdl:part name="GetMessagesRequest" element="wsnt:GetMessages" />
  </wsdl:message>
  <wsdl:message name="GetMessagesResponse">
    <wsdl:part name="GetMessagesResponse" element="wsnt:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="UnableToGetMessagesFault">
    <wsdl:part name="UnableToGetMessagesFault" element="wsnt:UnableToGetMessagesFault" />
  </wsdl:message>
  <wsdl:message name="DestroyPullPointRequest">
    <wsdl:part name="DestroyPullPointRequest" element="wsnt:DestroyPullPoint" />
  </wsdl:message>
  <wsdl:message name="DestroyPullPointResponse">
    <wsdl:part name="DestroyPullPointResponse" element="wsnt:DestroyPullPointResponse" />
  </wsdl:message>
  <wsdl:message name="UnableToDestroyPullPointFault">
    <wsdl:part name="UnableToDestroyPullPointFault" element="wsnt:UnableToDestroyPullPointFault" />
  </wsdl:message>
  <wsdl:message name="CreatePullPointRequest">
    <wsdl:part name="CreatePullPointRequest" element="wsnt:CreatePullPoint" />
  </wsdl:message>
  <wsdl:message name="CreatePullPointResponse">
    <wsdl:part name="CreatePullPointResponse" element="wsnt:CreatePullPointResponse" />
  </wsdl:message>
  <wsdl:message name="UnableToCreatePullPointFault">
    <wsdl:part name="UnableToCreatePullPointFault" element="wsnt:UnableToCreatePullPointFault" />
  </wsdl:message>
  <wsdl:message name="RenewRequest">
    <wsdl:part name="RenewRequest" element="wsnt:Renew" />
  </wsdl:message>
  <wsdl:message name="RenewResponse">
    <wsdl:part name="RenewResponse" element="wsnt:RenewResponse" />
  </wsdl:message>
  <wsdl:message name="UnacceptableTerminationTimeFault">
    <wsdl:part name="UnacceptableTerminationTimeFault" element="wsnt:UnacceptableTerminationTimeFault" />
  </wsdl:message>
  <wsdl:message name="UnsubscribeRequest">
    <wsdl:part name="UnsubscribeRequest" element="wsnt:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="UnsubscribeResponse">
    <wsdl:part name="UnsubscribeResponse" element="wsnt:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="UnableToDestroySubscriptionFault">
    <wsdl:part name="UnableToDestroySubscriptionFault" element="wsnt:UnableToDestroySubscriptionFault" />
  </wsdl:message>
  <wsdl:message name="PauseSubscriptionRequest">
    <wsdl:part name="PauseSubscriptionRequest" element="wsnt:PauseSubscription" />
  </wsdl:message>
  <wsdl:message name="PauseSubscriptionResponse">
    <wsdl:part name="PauseSubscriptionResponse" element="wsnt:PauseSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="PauseFailedFault">
    <wsdl:part name="PauseFailedFault" element="wsnt:PauseFailedFault" />
  </wsdl:message>
  <wsdl:message name="ResumeSubscriptionRequest">
    <wsdl:part name="ResumeSubscriptionRequest" element="wsnt:ResumeSubscription" />
  </wsdl:message>
  <wsdl:message name="ResumeSubscriptionResponse">
    <wsdl:part name="ResumeSubscriptionResponse" element="wsnt:ResumeSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ResumeFailedFault">
    <wsdl:part name="ResumeFailedFault" element="wsnt:ResumeFailedFault" />
  </wsdl:message>
  <wsdl:portType name="NotificationConsumer">
    <wsdl:operation name="Notify">
      <wsdl:input message="wsntw:Notify" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NotificationProducer">
    <wsdl:operation name="Subscribe">
      <wsdl:input message="wsntw:SubscribeRequest" />
      <wsdl:output message="wsntw:SubscribeResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidFilterFault" message="wsntw:InvalidFilterFault" />
      <wsdl:fault name="TopicExpressionDialectUnknownFault" message="wsntw:TopicExpressionDialectUnknownFault" />
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault" />
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault" />
      <wsdl:fault name="InvalidProducerPropertiesExpressionFault" message="wsntw:InvalidProducerPropertiesExpressionFault" />
      <wsdl:fault name="InvalidMessageContentExpressionFault" message="wsntw:InvalidMessageContentExpressionFault" />
      <wsdl:fault name="UnacceptableInitialTerminationTimeFault" message="wsntw:UnacceptableInitialTerminationTimeFault" />
      <wsdl:fault name="UnrecognizedPolicyRequestFault" message="wsntw:UnrecognizedPolicyRequestFault" />
      <wsdl:fault name="UnsupportedPolicyRequestFault" message="wsntw:UnsupportedPolicyRequestFault" />
      <wsdl:fault name="NotifyMessageNotSupportedFault" message="wsntw:NotifyMessageNotSupportedFault" />
      <wsdl:fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMessage">
      <wsdl:input message="wsntw:GetCurrentMessageRequest" />
      <wsdl:output message="wsntw:GetCurrentMessageResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
      <wsdl:fault name="TopicExpressionDialectUnknownFault" message="wsntw:TopicExpressionDialectUnknownFault" />
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault" />
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault" />
      <wsdl:fault name="NoCurrentMessageOnTopicFault" message="wsntw:NoCurrentMessageOnTopicFault" />
      <wsdl:fault name="MultipleTopicsSpecifiedFault" message="wsntw:MultipleTopicsSpecifiedFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PullPoint">
    <wsdl:operation name="GetMessages">
      <wsdl:input name="GetMessagesRequest" message="wsntw:GetMessagesRequest" />
      <wsdl:output name="GetMessagesResponse" message="wsntw:GetMessagesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
      <wsdl:fault name="UnableToGetMessagesFault" message="wsntw:UnableToGetMessagesFault" />
    </wsdl:operation>
    <wsdl:operation name="DestroyPullPoint">
      <wsdl:input name="DestroyPullPointRequest" message="wsntw:DestroyPullPointRequest" />
      <wsdl:output name="DestroyPullPointResponse" message="wsntw:DestroyPullPointResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
      <wsdl:fault name="UnableToDestroyPullPointFault" message="wsntw:UnableToDestroyPullPointFault" />
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <wsdl:input message="wsntw:Notify" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CreatePullPointPortType">
    <wsdl:operation name="CreatePullPoint">
      <wsdl:input name="CreatePullPointRequest" message="wsntw:CreatePullPointRequest" />
      <wsdl:output name="CreatePullPointResponse" message="wsntw:CreatePullPointResponse" />
      <wsdl:fault name="UnableToCreatePullPointFault" message="wsntw:UnableToCreatePullPointFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SubscriptionManager">
    <wsdl:operation name="Renew">
      <wsdl:input name="RenewRequest" message="wsntw:RenewRequest" />
      <wsdl:output name="RenewResponse" message="wsntw:RenewResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
      <wsdl:fault name="UnacceptableTerminationTimeFault" message="wsntw:UnacceptableTerminationTimeFault" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input name="UnsubscribeRequest" message="wsntw:UnsubscribeRequest" />
      <wsdl:output name="UnsubscribeResponse" message="wsntw:UnsubscribeResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
      <wsdl:fault name="UnableToDestroySubscriptionFault" message="wsntw:UnableToDestroySubscriptionFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PausableSubscriptionManager">
    <wsdl:operation name="Renew">
      <wsdl:input name="RenewRequest" message="wsntw:RenewRequest" />
      <wsdl:output name="RenewResponse" message="wsntw:RenewResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
      <wsdl:fault name="UnacceptableTerminationTimeFault" message="wsntw:UnacceptableTerminationTimeFault" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input name="UnsubscribeRequest" message="wsntw:UnsubscribeRequest" />
      <wsdl:output name="UnsubscribeResponse" message="wsntw:UnsubscribeResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
      <wsdl:fault name="UnableToDestroySubscriptionFault" message="wsntw:UnableToDestroySubscriptionFault" />
    </wsdl:operation>
    <wsdl:operation name="PauseSubscription">
      <wsdl:input message="wsntw:PauseSubscriptionRequest" />
      <wsdl:output message="wsntw:PauseSubscriptionResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
      <wsdl:fault name="PauseFailedFault" message="wsntw:PauseFailedFault" />
    </wsdl:operation>
    <wsdl:operation name="ResumeSubscription">
      <wsdl:input message="wsntw:ResumeSubscriptionRequest" />
      <wsdl:output message="wsntw:ResumeSubscriptionResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
      <wsdl:fault name="ResumeFailedFault" message="wsntw:ResumeFailedFault" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>